<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <div th:replace="header :: myHeader"></div>
</head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Menu -->
        <div th:replace="sidebar :: mySidebar"></div>

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <div th:replace="navbar :: myNavbar"></div>

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> Services</h4>

                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Update Service</h5>
                        </div>

                        <div class="card-body">
                            <div class="row text-center">
                                <div class="success alert-success mb-3 rounded"
                                     th:if="${successMessage}">
                                    <p></p>
                                    <p class="ml-3 py-1" th:text="${successMessage}"></p>
                                </div>
                            </div>

                            <p></p>

                            <form th:action="@{/dashboard/update-service}" method="POST">
                                <input name="id" th:value="${service.id}" hidden>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <label class="form-label" for="serviceName">Service Name</label>
                                            <div class="input-group input-group-merge mb-3">
                                                <span id="serviceName2" class="input-group-text"
                                                ><i class="bx bx-card"></i
                                                ></span>
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="Enter Service Name"
                                                        id="serviceName"
                                                        aria-describedby="serviceName"
                                                        th:value="${service.serviceName}"
                                                        name="serviceName"
                                                />
                                            </div>
                                            <span class="text-danger" th:errors="${service.serviceName}"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <label class="form-label" for="serviceDesc">Service Description</label>
                                            <div class="input-group input-group-merge mb-3">
                                                <textarea class="form-control" name="serviceDescription" id="serviceDesc" rows="5" th:text="${service.serviceDescription}">Enter Service Description</textarea>
                                            </div>
                                            <span class="text-danger" th:errors="${service.serviceDescription}"></span>
                                        </div>
                                    </div>
                                </div>

                                <p></p>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        <div class="mb-2 mb-md-0">
                            ©
                            <script>
                    document.write(new Date().getFullYear());
                  </script>
                            , made with ❤️ by
                            <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">RenderBox</a>
                        </div>
                    </div>
                </footer>

                <div class="content-backdrop fade"></div>
            </div>

        </div>
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
</div>

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

<!-- Main JS -->
<script th:src="@{/js/main.js}"></script>

<!-- Page JS -->
<script th:src="@{/js/dashboards-analytics.js}"></script>
<script th:src="@{/assets/vendor/js/app-chat.js}"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>